  .gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .buttonContainer {
      position: fixed;
      z-index: 100;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15px;
      background-color: $color-button;
      border-bottom: 1px solid $color-border;

      .buttonInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 20px;

        button {
          width: 150px;
          height: 50px;
          background-color: $color-button;
          border: 1px solid $color-border;
          border-radius: 20%;
          font-size: 20px;
          cursor: pointer;
          &:not(:first-child) {
            margin-left: 10px;
          }
        }
      }
    }

    .gridContainer {
      margin: 100px auto;
      justify-content: center;
      align-items: center;
      height: 80%;

      .grid {
        display: grid;

        .row {
          display: flex;
          justify-content: center;
          align-items: center;

          .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid $color-border;

            > button {
              min-width: 55px;
              min-height: 55px;
              background-color: transparent;
              border: none;
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
